h1 {
  font-family: "Libre Baskerville", serif;
}

body {
    background-color: black;
}

.div {
  width: 50%;
  margin-top: 100px;
  margin-left: 25%;
  text-align: center;
  text-transform: uppercase;
  color:white;
  

}

img {
  border:5px solid white;
  width: 100%;
}